<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDExFoFD1pLEVi2AZdwi14VuevFyQnlb9g</string>
	<key>GCM_SENDER_ID</key>
	<string>767270312801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-72a61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-72a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767270312801:ios:51de59695e1fbc76b7c320</string>
</dict>
</plist>